body {
    background-image: url(/sggwebsite/images/destiny_bg2.jpg);
    background-size: cover;
    background-color: rgb(32, 33, 49);
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.centerWrap {
    max-width: 1140px;
    margin: 0 auto;
    width: 80%;
}

#headerSection {
    padding: 5px 20px;
    background: #000;
}

#logoImage {
    height: 100px;
    float: left;
}

#mainNav {
    float: right;
}

.menuBtn {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding: 40px 20px;
}

#bodySection {
    background: rgba(0, 0, 0, 0.6);
    padding: 0 15px 15px;
    margin-top: 350px;
    margin-bottom: 50px;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33333333%
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

.boxSection {
    padding: 15px;
    float: left;
    position: relative;
}

.boxImg {
    width: 100%;
    margin: 0 auto;
    background: #000;
    max-height: 350px;
    overflow: hidden;
}

.boxImg img {
    width: 100%;
}

.sectionTitle {
    font-size: 24px;
    color: #fff;
    padding: 10px;
}

.sectionContent {
    width: 80%;
    position: absolute;
    left: 40px;
    top: 60px;
    color: #fff;
    font-size: 14px;
    text-shadow: 2px 2px #000;
    line-height: 30px;
}

.sectionContent h2 {
    font-size: 20px;
}

#videos {
    background-image: url(/sggwebsite/images/videos.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}

#calendar img {
    filter: brightness(28%);
}

#videos img {
    filter: brightness(28%);
}

#googleCalendar {
    position: relative;
    width: 100%;
    height: 800px;
    padding: 10px;
}

#googleCalendar iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

@media (max-width: 800px) {
    body {
        background-attachment: inherit;
        overflow-x: hidden;
        transition: 0.4s ease-in-out all;
    }
    body.click {
        margin-left: -200px;
    }
    #headerSection {
        position: fixed;
        top:0;
        width: 100%;
    }
    #mainNav {
        position: fixed;
        right: -200px;
        width: 200px;
        height: 100%;
        transition: 0.4s ease-in-out all;
    }
    #mainNav.click {
        right: 0;
    }
    #mobileToggle {
        display: block;
        color: #fff;
        float: right;
        padding: 40px 20px;
        font-size: 24px;
    }
    .col-2 {
        width: 100%;
    }
    
    .col-3 {
        width: 50%
    }
    
    .col-4 {
        width: 33.333333333%;
    }
    
    .col-5 {
        width: 25%;
    }
}

@media (max-width: 767px) {
    .col-3 {
        width: 100%
    }
    
    .col-4 {
        width: 50%;
    }
    
    .col-5 {
        width: 50%;
    }
}

@media (max-width: 550px) {
    .col-4 {
        width: 100%;
    }
    
    .col-5 {
        width: 100%;
    }
}