body {
    background-image: url(/sggwebsite/images/destiny_bg2.jpg);
    background-size: cover;
    background-color: rgb(32, 33, 49);
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.centerWrap {
    max-width: 1140px;
    margin: 0 auto;
    width: 80%;
}

#headerSection {
    padding: 5px 20px;
    background: #000;
}

#logoImage {
    height: 100px;
    float: left;
}

#mainNav {
    float: right;
}

#mobileToggle {
    display: none;
}

.menuBtn {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding: 40px 20px;
}

#bodySection {
    background: rgba(0, 0, 0, 0.6);
    padding: 0 15px 15px;
    margin-top: 250px;
    margin-bottom: 50px;
    color: #fff;
}

ol {
    background: #333;
    padding: 45px;
}

li {
    padding: 10px 0;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33333333%
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

.boxSection {
    padding: 15px;
    float: left;
    position: relative;
}

.boxImg {
    width: 100%;
    margin: 0 auto;
    background: #000;
    max-height: 350px;
    overflow: hidden;
}

.boxImg img {
    width: 100%;
}

.sectionTitle {
    font-size: 24px;
    color: #fff;
    padding: 10px;
}

.sectionContent {
    width: 80%;
    position: absolute;
    left: 40px;
    top: 60px;
    color: #fff;
    font-size: 14px;
    text-shadow: 2px 2px #000;
    line-height: 30px;
}

.sectionContent h2 {
    font-size: 20px;
}

.sectionContent h2 img {
    height: 100px;
    float: left;
    padding-right: 20px;
}

#videos {
    background-image: url(/sggwebsite/images/videos.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}

#calendar img {
    filter: brightness(28%);
}

#videos img {
    filter: brightness(28%);
}

.googleCalendar {
    position: relative;
    width: 100%;
    height: 800px;
    padding: 10px;
}

.googleCalendar iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#mobileGCal {
    display: none;
}

.youtubeVideo {
    position: relative;
    height: 230px;
    float: left;
    padding: 0 15px;
}

.youtubeVideo iframe {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.adminBox {
    float: left;
    padding: 15px;
    background: #333;
    font-size: 14px;
    color: #fff;
    min-height: 300px;
}

.adminImg {
    float: left;
    height: 100px;
    padding: 0 10px;
}

.adminImg img {
    height: 100%;
}

.adminText {
    float: left;
    width: calc(100% - 125px)
}

.adminTitle {
    float: left;
    color: #fff;
    font-size: 20px;
}

.adminTitle span {
    font-size: 16px;
}

@media (max-width: 1025px) {
    body {
        overflow-x: hidden;
        transition: 0.4s ease-in-out all;
    }
    body.click {
        margin-left: -200px;
    }
    #headerSection {
        position: fixed;
        top:0;
        width: 100%;
        z-index: 1000;
    }
    #mainNav {
        position: absolute;
        right: -200px;
        width: 200px;
        height: 100vh;
        transition: 0.4s ease-in-out all;
        top: 0;
        background: #000;
    }
    #mainNav.click {
        right: 0;
    }
    .menuBtn {
        display: block;
        text-align: center;
    }
    #mobileToggle {
        display: block;
        color: #fff;
        float: right;
        padding: 40px 0px;
        font-size: 24px;
    }
    .col-2 {
        width: 100%;
    }
    
    .col-3 {
        width: 50%
    }
    
    .col-4 {
        width: 33.333333333%;
    }
    
    .col-5 {
        width: 25%;
    }
}

@media (max-width: 767px) {
    body {
        background-attachment: initial;
    }
    .centerWrap {
        width: 100%;
    }
    #mainGCal {
        display: none;
    }
    #mobileGCal {
        display: block;
    }
    .col-3 {
        width: 100%
    }
    
    .col-4 {
        width: 50%;
    }
    
    .col-5 {
        width: 50%;
    }
}

@media (max-width: 550px) {
    .sectionContent h2 img {
        padding-right: 10px;
    }
    .col-4 {
        width: 100%;
    }
    
    .col-5 {
        width: 100%;
    }
}